---

// src/components/SiteMetaHome.astro

// Komponen ini bertugas menangkap data dari Frontmatter index.astro

const { title, description, keywords, image = '/og/default/og-home.webp' } = Astro.props
const cleanUrl = new URL(Astro.url.pathname, Astro.site).href
const ogImageUrl = new URL(image, Astro.site).href
const ogImageType = image.endsWith('.png') ? 'image/png' : image.endsWith('.webp') ? 'image/webp' : 'image/png'

---


<title>{title}</title>

<meta name="description" content={description} />
<meta name="keywords" content={keywords} /> 
<meta name="robots" content="index, follow" />

<meta property="og:type" content="website" />
<meta property="og:url" content={cleanUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<meta property="og:image" content={ogImageUrl} />
<meta property="og:image:type" content={ogImageType} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={cleanUrl} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageUrl} />


<link rel="canonical" href={cleanUrl} />

